<app-player
  *ngFor="let player of game.players; let i = index"
  [ngStyle]="{ 'top.px': 100 + i * 70 }"
  [name]="player"
  [playerActive]="i == game.currentPlayer"
  class="playerPosition"
></app-player>

<section>
  <div class="cardStack">
    <!-- Card stack -->
    <img
      [ngStyle]="{ 'right.px': i * 5 }"
      *ngFor="let card of [0, 1, 2, 3]; let i = index"
      src="./assets/cards/card_cover.png"
      alt=""
    />
    <img
      (click)="takeCard()"
      class=""
      style="right: 25px"
      src="./assets/cards/card_cover.png"
      alt=""
    />
    <!-- Stack for played cards -->
    <img
      *ngFor="let card of game.playedCards"
      src="./assets/cards/{{ card }}.png"
      alt=""
      class="playedCards"
    />
    <!-- Animated Card -->
    <img
      (click)="takeCard()"
      *ngIf="game.pickCardAnimation"
      class="pickCard"
      style="right: 25px"
      src="./assets/cards/{{ game.currentCard }}.png"
      alt=""
    />
  </div>
</section>

<app-game-info [card]="game.currentCard" class="pinBottom"></app-game-info>

<button mat-fab color="primary" class="addButton" (click)="openDialog()">
  <mat-icon>add</mat-icon>
</button>
