<app-player style="top: 100px" class="playerPosition"></app-player>

<section>
  <div class="cardStack">
    <!-- Card stack -->
    <img
      [ngStyle]="{ 'right.px': i * 5 }"
      *ngFor="let card of [0, 1, 2, 3]; let i = index"
      src="./../../assets/cards/card_cover.png"
      alt=""
    />
    <img
      (click)="takeCard()"
      class=""
      style="right: 25px"
      src="./../../assets/cards/card_cover.png"
      alt=""
    />
    <!-- Stack for played cards -->
    <img
      *ngFor="let card of game.playedCards"
      src="./../../assets/cards/{{ card }}.png"
      alt=""
      class="playedCards"
    />
    <!-- Animated Card -->
    <img
      (click)="takeCard()"
      *ngIf="pickCardAnimation"
      class="pickCard"
      style="right: 25px"
      src="./../../assets/cards/{{ currentCard }}.png"
      alt=""
    />
  </div>
</section>
